#item
  section.hits
    background: $grey
  section.category
    padding-bottom: 35px

.item_container
  .item_wrap
    margin-left: 33px
    display: flex
    & img
      border-radius: 1px
      border: 1px solid $dark
      width: 340px
      height: 100%
      margin-right: 33px
  .item_description-wrap
    display: flex
    flex-direction: column
    justify-content: space-between
    .item_info
      & p
        line-height: 140.5%
        letter-spacing: -0.02em
        margin-top: 0
        margin-bottom: 10px
      & a
        font-weight: bold
        color: $red
        letter-spacing: -0.02em
    .item_order
      color: $grey
      font-size: 18px
      background-color: $red
      border-radius: 5px
      width: 150px
      height: 40px
      padding: 7px 0
      text-align: center
      &:hover
        opacity: 0.8
    .item_price
      display: flex
      flex-direction: column
      flex-grow: 0.6
      .price_title
        font-size: 24px
        font-weight: bold
        letter-spacing: -0.02em
        line-height: 100%
      & ul
        & li
          margin-top: 12px
          letter-spacing: -0.02em
          & span
            font-weight: bold
            color: $red
  .item_specification-wrap
    margin-left: 33px
    .specification_title
      margin-top: 35px
      font-weight: bold
      font-size: 24px
      margin-bottom: 2px
    & div:not(:first-child)
      margin-top: 14px


.popup-fade
  display: none
  &:before
    content: ''
    background: $dark
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: 0.7
    z-index: 9999
.popup
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  margin: auto
  height: 371px
  padding: 20px
  width: 360px
  background: $grey
  border-radius: 5px
  z-index: 10000
  opacity: 1
  .form_title
    font-size: 20px
    font-weight: bold
  form
    input
      color: $dark
      border-bottom: 1px solid $dark
    .border
      background: $dark
    .label
      color: $dark
    .input
      max-width: initial
    
.popup-close
  position: absolute
  top: 20px
  right: 20px
  img
    width: 16px
    height: 16px